.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  margin-bottom: 3.5rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroContents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
	gap: 10px;
}

.join {
	padding-top: 10px;
	width: 100%;
}

.heroLogo {
  padding: 0 50px;
}
