.join {
  display: flex;
  align-items: center;
  width: 100%;
}

.join form {
  max-width: 600px;
  border-left: 3px solid var(--ifm-blockquote-color);
  padding: 0 15px;
  margin-bottom: var(--ifm-paragraph-margin-bottom);
}

.join form > * {
  margin-top: 10px;
  margin-bottom: 0;
}

.join form span {
  font-size: small;
}

.join label {
  display: block;
}

.join :not(fieldset) > label,
fieldset legend {
  font-size: large;
  color: var(--ifm-color-primary);
}

.join label:global(.required):after {
  content: "*";
}

.join input:not([type="checkbox"]),
.join textarea {
  width: 100%;
}

.join details {
  font-size: small;
}
.join details summary {
  margin-top: 5px;
  color: var(--ifm-blockquote-color);
}

.join :global(.congratulations) {
  background-color: #383a59;
  max-width: 600px;
  border-left: 3px solid var(--ifm-blockquote-color);
  padding: 15px;
  border-radius: 0 15px 15px 0;
  margin-bottom: var(--ifm-paragraph-margin-bottom);
}

.join :global(.congratulations) h3 {
  color: var(--ifm-color-primary);
}
